/*
    Document   : scratch/scratch.css
    Created on : 2015-04-30 08:06 PM
    Author     : Gensol
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}
#navbar{
    text-align:center;
}

#navbar li{
    display:inline-block;
    border: 2px solid black;
    padding: 5px;
    